* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lilita One', cursive;
    font-family: 'Roboto', sans-serif;  
}

body {
    background-color: #165023;
    padding-top: 100px;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

header img {
    height: 45px;
    margin-right: 16px;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
}

.container {
    background-color: #e1ffdf;
    padding: 50px 40px 120px;
    border-radius: 8px;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;    
}

form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 56px;
}

form input {
    font-size: 24px;
    background-color: #fff;
    border: none;
    border-bottom: 4px solid black;
    padding: 8px;
}

form button {
    background-color: green;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 20px;
}

table th {
    border-bottom: 4px solid black;
    width: 950px;
    padding-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}

table th {
    padding: 10px;
}

table td {
    padding: 12px 0px;
    text-align: center;
    font-size: 24px;
    border-bottom: 2.3px solid rgba(0, 0, 0, 0.3);
}

button {
    display: flex;
    justify-content: center;
    padding: 10px;
}